/*********variables***********/
$giorgicolor: #5C62EC;
$logofont: 'Poppins', sans-serif;
$fonts: 'DM Sans', sans-serif;
$bodycolor: #171718;
$rectcolor: #1C1E22;
$underlinecolor: #6f6ff7;
$pfonts:'Nunito', sans-serif;

