/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*:focus {
  outline: none;
  background: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  max-height: 100vh;
  background-color: #F9FAFD;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social i {
  color: #1A954D;
}

.transition {
  -webkit-transition: all 1s ease-in-out !important;
  transition: all 1s ease-in-out !important;
}

.h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.btn {
  font-weight: 500;
  color: #1FCA63;
  background-color: #fff;
  border-radius: 1000vmax;
  font-family: "Ubuntu", sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p {
  color: #374a59;
  font-family: "Open Sans", sans-serif;
}

.h1 {
  font-family: "Playfair Display", serif;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 1111111;
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 10px;
  margin-top: 8px;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(14px) translateX(10px) rotate(45deg);
          transform: translateY(14px) translateX(10px) rotate(45deg);
}

.hamburger .bar:nth-child(2) {
  width: 20px;
  margin-left: 10px;
}

.hamburger.active .bar:nth-child(2) {
  -webkit-transform: translateY(2px) rotate(-45deg);
          transform: translateY(2px) rotate(-45deg);
  width: 30px !important;
}

header .bg-container {
  background: url(../photos/background-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 600px;
  position: relative;
}

@media screen and (min-width: 950px) {
  header .bg-container {
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    max-height: 100vh !important;
    min-height: 1000px !important;
  }
}

header .bg-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  font-family: "Ubuntu", sans-serif;
}

header .bg-container .container .logo {
  font-size: 2rem;
  color: #fff;
}

header .bg-container .container .clr.active {
  background-color: #84898F;
}

header .bg-container .container .clr1.active {
  background-color: #84898F;
}

header .bg-container .container nav .primary-nav {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: all .3s linear;
  -moz-transition: all .3s linear;
  /* Firefox 4 */
  -webkit-transition: all .3s linear;
  /* Safari and Chrome */
  -o-transition: all .3s linear;
  /* Opera */
  -ms-transition: all .3s linear;
  /* Explorer 10 */
  z-index: 100000;
}

header .bg-container .container nav .primary-nav .nav__item {
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .bg-container .container nav .primary-nav .nav__item .current {
  color: #F04B99 !important;
}

header .bg-container .container nav .primary-nav .nav__item .current:hover {
  color: #d33a59 !important;
}

header .bg-container .container nav .primary-nav .nav__item .nav__link {
  color: #84898F;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .bg-container .container nav .primary-nav .nav__item .nav__link:hover {
  color: #6d7175 !important;
}

header .bg-container .container nav .primary-nav .contactBtn {
  color: #84898F;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

header .bg-container .container nav .primary-nav .contactBtn:hover {
  color: #6d7175 !important;
}

@media screen and (min-width: 900px) {
  header .bg-container .container .hamburger {
    display: none;
  }
  header .bg-container .container nav .primary-nav {
    position: relative !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: auto !important;
    height: auto !important;
    background: none !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  header .bg-container .container nav .primary-nav .nav__item .nav__link {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  header .bg-container .container nav .primary-nav .nav__item .nav__link:hover {
    color: rgba(255, 255, 255, 0.7) !important;
    opacity: .7 !important;
  }
  header .bg-container .container nav .primary-nav .nav__item .current {
    color: #fff !important;
  }
  header .bg-container .container nav .primary-nav .contactBtn {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  header .bg-container .container nav .primary-nav .contactBtn:hover {
    color: rgba(255, 255, 255, 0.7) !important;
    opacity: .7 !important;
  }
}

header .bg-container .container .primary-nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .bg-container .intro-section {
  position: relative;
}

header .bg-container .intro-section .h1 {
  color: #fff;
  font-size: 2.5rem;
}

header .bg-container .intro-section .intro__title-small {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1.5em;
  font-weight: 400;
}

@media screen and (max-width: 300px) {
  header .bg-container .intro-section .h1 {
    font-size: 2rem;
  }
  header .bg-container .intro-section .intro__title-small {
    font-size: .8rem;
  }
}

@media screen and (min-width: 400px) {
  header .bg-container .intro-section .h1 {
    font-size: clamp(2rem, 10vw, 5rem) !important;
  }
  header .bg-container .intro-section .intro__title-small {
    font-size: clamp(0.8rem, 8vw, 1.2rem) !important;
  }
}

header .bg-container .intro-section .btn {
  padding: .3em 2em;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 1;
}

header .bg-container .intro-section .btn:hover {
  opacity: .9;
}

header .bg-container .intro-section .column .btn.active {
  position: fixed !important;
  bottom: 30px;
  right: 20px;
  width: 5rem;
  height: 5rem;
  background-color: #FD6982;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

header .bg-container .intro-section .column .btn.active:hover {
  background-color: #d33a59;
}

header .bg-container .intro-section .column .btn.active .email.active {
  display: initial !important;
  z-index: 11;
  font-size: 2rem;
}

header .bg-container .intro-section .column .btn.active .text.active {
  display: none;
}

header .bg-container .img-container {
  margin-top: -130px;
  display: none;
}

header .bg-container .img-container img {
  width: clamp(13rem, 25vw, 35rem);
  width: clamp(13rem, 25vw, 35rem);
}

header .bg-container .img-container .girl {
  width: clamp(15rem, 30vw, 35rem);
  width: clamp(15rem, 30vw, 35rem);
}

@media screen and (min-width: 650px) {
  header .bg-container .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .bg-container .intro-section .btn {
    padding: .4em 3em;
  }
}

@media screen and (min-width: 1000px) {
  header .bg-container .img-container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .bg-container .intro-section {
    margin-top: 2rem;
  }
  header .bg-container .intro-section .btn {
    padding: .6em 5em;
  }
}

header .bg-container .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 1600px) {
  header .logo {
    font-size: 3rem !important;
  }
  header .primary-nav {
    gap: 2em !important;
  }
  header .primary-nav .nav__link {
    font-size: 1.4rem;
  }
  header .intro-section .container .h1 {
    font-size: clamp(7rem, 15vw, 6rem) !important;
  }
  header .intro-section .container .intro__title-small {
    font-size: clamp(1.5rem, 8vw, 1.7rem) !important;
  }
  header .intro-section .container .btn {
    padding: .6em 4em;
    font-size: 1.4rem;
  }
}

.contact .big-container.active {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.contact .big-container {
  position: fixed;
  left: 50%;
  top: 50px;
  z-index: 10000;
  -webkit-transform: translate(-5000%, 0);
          transform: translate(-5000%, 0);
  width: 800px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0px 0px 9px -4px rgba(54, 54, 54, 0.75);
  -webkit-box-shadow: 0px 0px 9px -4px rgba(54, 54, 54, 0.75);
  -moz-box-shadow: 0px 0px 9px -4px rgba(54, 54, 54, 0.75);
  background: url(/HomePage/photos/Vector-bg.svg), #fff;
  background-size: 100% 260%;
  background-repeat: no-repeat;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 23875472;
}

.contact .big-container .sent {
  background-color: rgba(33, 128, 38, 0.753);
  border: 2px solid green;
  padding: 2em;
  color: #fff;
  position: absolute;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact .big-container .sent.active {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.contact .big-container .close-btn {
  margin-top: 40px;
  margin-left: 600px;
  position: absolute;
}

.contact .big-container .close-btn .close {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.contact .big-container .close-btn .close i {
  color: #949494;
  font-size: 1.5em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact .big-container .close-btn .close i:hover {
  color: #FD6982;
}

.contact .big-container .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

.contact .big-container .div .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .big-container .div .div label {
  margin-bottom: -15px;
}

.contact .big-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.contact .big-container form input, .contact .big-container form textarea {
  border: 3px solid teal;
  background-color: teal;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: white;
  padding: .3em;
  font-weight: 400;
}

.contact .big-container form input:focus, .contact .big-container form textarea:focus {
  border: 3px solid #52c982;
}

.contact .big-container form .flex {
  gap: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .big-container .btnn {
  padding: .6em 2em;
  margin-top: 1em;
  width: 200px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #FD6982;
  color: #fff;
  border-radius: 1000px;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .8em;
}

.contact .big-container .btnn:hover {
  background-color: #d1576c;
}

.contact .big-container .btnn span {
  margin-left: -10px;
}

@media screen and (max-width: 850px) {
  .contact .big-container {
    width: 80% !important;
  }
  .contact .big-container .close-btn {
    margin-top: 0;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
    width: 100%;
  }
  .contact .big-container form {
    width: 80% !important;
  }
  .contact .big-container input {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .contact .big-container .big-div {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    gap: 1em;
    margin-top: 2em;
  }
}

@media screen and (max-width: 330px) {
  .contact .big-container .btnn {
    width: 95%;
  }
  .contact .big-container .close-btn {
    padding: .5em;
  }
}

@media screen and (max-width: 306px) {
  .contact .big-container .btnn {
    font-size: .9rem;
  }
}

main {
  margin-top: -8em;
  position: relative;
  overflow-x: hidden;
}

@media screen and (min-width: 650px) {
  main {
    margin-top: 1em;
  }
}

@media screen and (min-width: 900px) {
  main {
    margin-top: 2em;
  }
}

@media screen and (min-width: 950px) {
  main {
    margin-top: -14em;
  }
}

@media screen and (min-width: 1100px) {
  main {
    margin-top: 3em;
  }
}

@media screen and (min-width: 1366px) {
  main {
    margin-top: 7em;
  }
}

main .canido {
  text-align: center;
}

main .canido .title {
  font-size: clamp(4vw, 15vw, 2rem);
  font-weight: 400;
  margin-bottom: 3em;
  position: relative;
}

main .canido .title::before {
  content: '';
  background-color: #FF6D5F;
  width: 13%;
  height: 3px;
  bottom: -10px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .canido .big-container {
  background-color: #fff;
  padding: 2em 1em;
}

main .canido .big-container .container .h1 {
  font-size: 1.3rem;
  margin-bottom: 3em;
}

@media screen and (min-width: 700px) {
  main .canido .big-container .container .h1 {
    width: 50%;
    margin: 0em auto 3em auto;
    font-size: 1.5rem !important;
  }
}

@media screen and (min-width: 700px) {
  main .canido .big-container .container .h1 {
    font-size: 2rem !important;
  }
}

main .canido .big-container .container .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .canido .big-container .container .flex .first-col {
  margin-bottom: 3em;
}

main .canido .big-container .container .flex .first-col .h3 {
  font-weight: 500;
}

main .canido .big-container .container .flex .first-col span {
  background: -webkit-gradient(linear, left top, right top, from(#1FCA63), to(#63FF83));
  background: linear-gradient(90deg, #1FCA63 0%, #63FF83 100%);
  border-radius: 10.8333px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: .5em;
}

main .canido .big-container .container .flex .first-col img {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
}

main .canido .big-container .container .flex .first-col .even-column-first {
  margin-bottom: 2em;
  -webkit-transform: translateX(-4000%);
          transform: translateX(-4000%);
  overflow-x: hidden;
  opacity: 0;
}

main .canido .big-container .container .flex .first-col .even-column-first.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

main .canido .big-container .container .flex .first-col .even-column {
  margin-bottom: 2em;
  -webkit-transform: translateX(-4000%);
          transform: translateX(-4000%);
  overflow-x: hidden;
  opacity: 0;
  margin-bottom: 4em;
}

main .canido .big-container .container .flex .first-col .even-column.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

main .canido .big-container .container .flex .first-col .animation {
  background-color: #3784F7;
  color: #fff;
  opacity: 0;
  -webkit-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
  padding: .7em 2.5em;
  -webkit-transition: all .8s;
  transition: all .8s;
  z-index: 1;
}

main .canido .big-container .container .flex .first-col .animation:hover {
  background-color: #2254a0;
}

main .canido .big-container .container .flex .first-col .animation.active {
  opacity: 1;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

main .canido .big-container .container .flex .second-col {
  margin-bottom: 2em;
  -webkit-transform: translateX(4000%);
          transform: translateX(4000%);
  opacity: 0;
  -webkit-transition: all 1.5s ease-in-out !important;
  transition: all 1.5s ease-in-out !important;
  overflow-x: hidden;
}

main .canido .big-container .container .flex .second-col.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media screen and (min-width: 700px) {
  main .canido .big-container .container .flex {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .canido .big-container .container .flex .flex {
    gap: .3em;
  }
  main .canido .big-container .container .flex span {
    margin: 0 !important;
  }
  main .canido .big-container .container .flex .h3 {
    font-size: 1.7rem;
    font-weight: 400;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  main .canido .big-container .container .flex .p {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1600px) {
  main .canido .title {
    font-size: 3rem !important;
  }
  main .canido .big-container .inner-title {
    font-size: 3rem !important;
  }
  main .canido .even-column .p, main .canido .even-column-first .p {
    font-size: 1.4rem;
  }
  main .canido .even-column .h3, main .canido .even-column-first .h3 {
    font-size: 2.3rem !important;
  }
  main .canido .btn {
    padding: .7em 3em !important;
    font-size: 1.4rem;
  }
}

main .my-work {
  margin-top: 10em;
  position: relative;
  width: 100%;
}

main .my-work .container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .my-work .container .rest {
  position: relative;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

main .my-work .container .rest.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

main .my-work .container .Tic {
  position: relative;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

main .my-work .container .Tic.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

main .my-work .container .calculator {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

main .my-work .container .calculator.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .my-work .container .center {
  text-align: center;
  font-size: clamp(4vw, 15vw, 2rem);
  position: relative;
  font-weight: 400;
  margin-bottom: 3em;
}

main .my-work .container .center::before {
  content: '';
  background-color: #FF6D5F;
  width: 50%;
  height: 3px;
  bottom: -10px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 1600px) {
  main .my-work .container .center {
    font-size: 3rem !important;
  }
}

main .my-work .container .flex {
  border-radius: 16px;
  margin-bottom: 4em;
  width: 80%;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  box-shadow: 1px 2px 30px -3px rgba(190, 190, 190, 0.52);
  -webkit-box-shadow: 1px 2px 30px -3px rgba(190, 190, 190, 0.52);
  -moz-box-shadow: 1px 2px 30px -3px rgba(190, 190, 190, 0.52);
}

main .my-work .container .flex .h1 {
  font-size: 2rem;
  margin-bottom: .5em;
}

main .my-work .container .flex .p {
  margin-bottom: 5em;
}

main .my-work .container .flex .btn {
  color: white;
  padding: .7em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main .my-work .container .flex .btn:hover {
  opacity: .9;
}

main .my-work .container .flex .btn1 {
  background: -webkit-gradient(linear, left top, right top, from(#C81D27), to(#B1956C));
  background: linear-gradient(90deg, #C81D27 0%, #B1956C 100%);
}

main .my-work .container .flex .btn2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(21.35%, #00A88F), to(#0DE1C3));
  background: linear-gradient(90deg, #00A88F 21.35%, #0DE1C3 100%);
}

main .my-work .container .flex .btn3 {
  background: -webkit-gradient(linear, left top, right top, color-stop(16.67%, #BF4626), to(#FFC7A9));
  background: linear-gradient(90deg, #BF4626 16.67%, #FFC7A9 100%);
}

main .my-work .container .flex .TicTacToe {
  border-radius: 16px 0px 0px 16px;
}

main .my-work .container .flex .restaurant {
  border-radius: 16px 0px 0px 16px;
}

main .my-work .container .flex .calculator {
  border-radius: 0px 16px 16px 0px;
}

main .my-work .container .flex .text-div {
  padding: 2em 1em;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 400px) {
  main .my-work .container .res p {
    font-size: calc(4.5vw - .1rem);
  }
}

@media screen and (max-width: 320px) {
  main .my-work .container .text-div p {
    font-size: calc(6vw - .5rem);
  }
}

@media screen and (max-width: 870px) {
  main .my-work .container .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .my-work .container .flex .img {
    width: 100%;
  }
  main .my-work .container .flex .img img {
    border-radius: 16px;
    width: 100% !important;
  }
}

@media screen and (max-width: 550px) {
  main .my-work .container .btn {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
}

@media screen and (min-width: 870px) {
  main .my-work .container .btn {
    width: 60% !important;
  }
}

@media screen and (min-width: 1600px) {
  main .my-work .container .text-div p {
    font-size: calc(1vw - .1rem);
  }
  main .my-work .container .title {
    font-size: 3rem !important;
  }
  main .my-work .container .p {
    font-size: 1.4rem;
  }
  main .my-work .container .h3 {
    font-size: 2.3rem !important;
  }
  main .my-work .container .btn {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    padding: .7em 3em !important;
    font-size: 1.4rem;
  }
  main .my-work .container .rest {
    width: 100%;
  }
  main .my-work .container .Tic {
    width: 100%;
  }
}

main .about-me {
  margin: 5em 0 8em 0;
}

main .about-me .bg {
  width: 100%;
  background: url(../photos/Vector-bg.svg), #fff;
  background-size: 100% 280%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
  main .about-me .bg {
    background-size: 100% 250%;
  }
}

@media screen and (max-width: 822px) {
  main .about-me .bg {
    background: none;
    background-color: #fff;
  }
}

main .about-me .center {
  text-align: center;
  font-size: clamp(4vw, 15vw, 2.2rem);
  position: relative;
  font-weight: 400;
  margin-bottom: 3em;
}

main .about-me .center::before {
  content: '';
  background-color: #FF6D5F;
  width: 8%;
  height: 3px;
  bottom: -10px;
  position: absolute;
  right: 46%;
}

main .about-me .flex {
  padding: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

main .about-me .flex p {
  font-family: "Open Sans", sans-serif;
  color: #949494;
  margin-bottom: 2em;
}

main .about-me .flex p .see-more {
  font-weight: 600;
  font-size: .9rem;
  cursor: pointer;
  color: #000;
}

main .about-me .flex .btn {
  padding: .7em 4em;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #1A954D;
  color: #fff;
}

main .about-me .flex .btn i {
  display: none;
}

main .about-me .flex .btn:hover {
  background-color: #1a693b;
}

main .about-me .flex .h1 {
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 400;
  margin-block: 1em;
  position: relative;
}

main .about-me .flex .h1::before {
  content: '';
  background-color: #C74246;
  width: 5%;
  border-radius: 30px;
  height: 4px;
  top: 0;
  position: absolute;
  left: 0;
}

main .about-me .flex .first-col {
  width: 60%;
}

@media screen and (max-width: 822px) {
  main .about-me .flex .second-col {
    display: none;
  }
  main .about-me .flex .first-col {
    margin: 0 auto;
  }
  main .about-me .flex .first-col .btn {
    text-align: right !important;
  }
}

@media screen and (max-width: 740px) {
  main .about-me .flex .first-col {
    width: 80% !important;
  }
  main .about-me .flex .first-col p {
    font-size: .9rem;
  }
}

@media screen and (min-width: 600px) {
  main .about-me .flex .see-more {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  main .about-me .flex .first-col {
    width: 80% !important;
  }
  main .about-me .flex .first-col p .hide-txt {
    display: none;
  }
  main .about-me .flex .first-col p .hide-txt.active {
    display: initial;
  }
}

@media screen and (max-width: 340px) {
  main .about-me .flex .btn {
    padding: .7em 3em;
  }
}

@media screen and (max-width: 300px) {
  main .about-me .flex .btn {
    padding: .7em 2em;
  }
}

.footer {
  width: 100%;
  position: absolute;
  background: url(../photos/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

@media screen and (max-width: 1070px) {
  .footer {
    background-position: 50% 150%;
  }
}

@media screen and (max-width: 770px) {
  .footer {
    height: 700px !important;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    height: 600px !important;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    height: 550px !important;
  }
  .footer .h1 {
    margin-bottom: 1.5em !important;
  }
}

@media screen and (max-width: 460px) {
  .footer {
    height: 500px !important;
  }
}

@media screen and (max-width: 358px) {
  .footer .h1 {
    font-size: calc(7.5vw - .2rem) !important;
  }
  .footer .social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 .2em;
    gap: 3em !important;
  }
}

@media screen and (max-width: 306px) {
  .footer .h1 {
    font-size: calc(8vw - .2rem) !important;
    margin-bottom: 2em !important;
  }
}

.footer .container {
  text-align: center;
}

.footer .container .h1 {
  color: #fff;
  font-size: clamp(1.5rem, 3rem, calc(6vw - .2rem));
  margin-top: 7em;
  margin-bottom: 1em;
}

.footer .container .btn {
  background-color: #FD6982;
  padding: .7em 4em;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer .container .btn:hover {
  opacity: .9;
}

.footer .container .social {
  margin-top: 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
}

.footer .container .social div {
  background-color: #fff;
  padding: .7em .9em;
  border-radius: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer .container .social div:hover {
  opacity: .9;
}

.footer .container .social div i {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */