@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Variables */
/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto Serif", serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header .scroll.fixed {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 25px #757575;
          box-shadow: 2px 2px 25px #757575;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  padding: 1em 2em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .container .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .container .max-width .logo {
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
}

header .container .max-width nav .primary-list {
  gap: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  text-align: right;
  top: -1000%;
  right: 0;
  left: 0;
  background-color: #ffffff;
  padding-right: 2em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding-bottom: .5em;
}

header .container .max-width nav .primary-list .list__link {
  color: #000000;
  font-size: .8rem;
  position: relative;
}

header .container .max-width nav .primary-list .list__link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #000000;
  bottom: -5px;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .container .max-width nav .primary-list .list__link:hover::before {
  content: '';
  width: 100%;
}

header .container .max-width nav .primary-list .under {
  position: relative;
}

header .container .max-width nav .primary-list .under::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  bottom: -5px;
  left: 0;
}

header .container .max-width .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

header .container .max-width .hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

header .container .max-width .hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-4px) rotate(-45deg);
          transform: translateY(-4px) rotate(-45deg);
}

header .container .max-width .hamburger {
  display: block;
  cursor: pointer;
}

header .container .max-width .bar {
  display: block;
  width: 23px;
  height: 3px;
  background-color: black;
  margin: 3px auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 10px;
}

.primary-list.active {
  top: 4em !important;
}

@media screen and (min-width: 800px) {
  .hamburger {
    display: none !important;
  }
  header .container {
    padding: 2em 2em !important;
  }
  nav .primary-list {
    gap: 3em !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    position: relative !important;
    top: 0 !important;
    background-color: transparent !important;
  }
  nav .primary-list .list__link {
    font-size: 1rem !important;
    font-weight: 300;
  }
}

main {
  padding-top: 7em;
}

main .container {
  max-width: 1400px;
  margin: 0 auto;
}

main .hello .container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

main .hello .container .first-col {
  width: 40%;
  margin-top: 3em;
}

main .hello .container .first-col h1 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: .5em;
}

main .hello .container .first-col p {
  font-weight: 300;
}

main .hello .container .second-col {
  width: 80%;
}

main .hello .container .second-col form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 2em;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

main .hello .container .second-col form label {
  font-weight: 300;
}

main .hello .container .second-col form h3 {
  color: #aaa;
  font-size: calc(1vw + .1rem);
  margin-bottom: 1em;
}

main .hello .container .second-col form input, main .hello .container .second-col form textarea {
  border: none;
  background-color: #eeeeee;
  padding: 1em;
  outline: none;
  border-radius: 2px;
  margin-bottom: 1em;
}

main .hello .container .second-col form ::-webkit-input-placeholder {
  font-size: .9rem;
}

main .hello .container .second-col form :-ms-input-placeholder {
  font-size: .9rem;
}

main .hello .container .second-col form ::-ms-input-placeholder {
  font-size: .9rem;
}

main .hello .container .second-col form ::placeholder {
  font-size: .9rem;
}

main .hello .container .second-col form button {
  background: #000;
  border: none;
  outline: none;
  padding: .7em 1.5em;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main .hello .container .second-col form button:hover {
  opacity: .8;
}

@media screen and (max-width: 800px) {
  main .hello .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95% !important;
  }
  main .hello .container .first-col {
    width: 100% !important;
  }
  main .hello .container .first-col h1 {
    font-size: 2.5rem !important;
  }
  main .hello .container .second-col {
    width: 100%;
  }
  main .hello .container .second-col form {
    padding: 0 !important;
  }
}

main .hello .img {
  width: 90%;
  margin: 3em auto 4em auto;
}

footer {
  margin-top: 5em;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

footer .container h1 {
  font-size: 1.4rem;
  margin-bottom: .7em;
}

footer .container p {
  font-size: .9rem;
  margin-bottom: .7em;
  font-weight: 300;
}

@media screen and (min-width: 800px) {
  footer {
    padding-bottom: 4em;
  }
  footer .container {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left !important;
  }
  footer .container h1 {
    font-size: 1.6rem !important;
  }
  footer .container p {
    font-size: 1rem;
  }
  footer .container .first-col {
    width: 40%;
  }
  footer .container .second-col {
    width: 30%;
  }
}
/*# sourceMappingURL=contact.css.map */