$headingFont: 'Open Sans', sans-serif;
$bodyFont: 'Raleway', sans-serif;
$poppins: 'Poppins', sans-serif;

$scrollColor: #32365f;
$logoColor: #66697E;
$secondLogoColor: #E4E5E8;

$imageOverlayBgColor: #e84545e5;
$buttonBgHoverColor: #e84545;
$navLinkColors: #6c7279;
$buttonBgColor: #e84545c5;
$navBG: #313454ea;
$testimonialBgColor: #53354a;

$footer1: #3a3e64;
$footer2: #313454;